# 교수님 작업물
# coinGenerator
# Face-alignment
Face-parsing/build
Face-alignment/face_alignment/pretrained_models/depth-2a464da4ea.pth.tar
# dist
# test images
# flask .gitignore
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover